.login-form {
    margin-top: 100px;
    padding: 20px;
    border-style: groove;
    border-radius: 5px;
}
.error {
    border-color: red !important;
}



@media only screen and (max-width: 576px) {
    .login-form {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

}
@media only screen and (max-width: 768px) {
    .login-form {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

}
@media only screen and (min-width: 769px) {
    .login-form {
        margin-left: auto;
        margin-right: auto;
        width: 614px;
    }

}